.page-link .page-item.active {
    background-color: #316649;
    border-color: #316649;
}

.btn {
    border-radius: 4px;
}


.buttons-html5, .buttons-print {
    color: #fff;
    background-color: #316649;
    border-color: #316649;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 4px;
}

.contador {
    position: absolute;
    top: 9px;
    right: 7px;
    text-align: center;
    font-size: 9px;
    padding: 2px 3px;
    line-height: .9;
}
.label-primary {
    background-color: #3c8dbc !important;
}

.labelAlert {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    position: absolute;
    top: -5px;
    right: -8px;
    text-align: center !important;
    font-size: 9px !important;
    padding: 2px 3px !important;
    line-height: .9 !important;    
}
#LabelAlarma{
    background-color:red;
}