.jumbo {
    /*   background-image: url(../img/FondoAzulP.png) !important;*/
    background-image: linear-gradient(336deg, #681976 11%, #02066a 82%) !important;
}

.celda1 {
    width: 1% !important;
}

.celda2 {
    width: 2% !important;
}

.celda3 {
    width: 3% !important;
}

.celda4 {
    width: 4% !important;
}

.celda5 {
    width: 5% !important;
}

.celda6 {
    width: 6% !important;
}

.celda7 {
    width: 7% !important;
}

.celda8 {
    width: 8% !important;
}

.celda9 {
    width: 9% !important;
}

.celda10 {
    width: 10% !important;
}

.celda11 {
    width: 11% !important;
}

.celda12 {
    width: 12% !important;
}

.celda13 {
    width: 13% !important;
}

.celda14 {
    width: 14% !important;
}

.celda15 {
    width: 15% !important;
}

.celda16 {
    width: 16% !important;
}
.celda17 {
    width: 17% !important;
}
.celda18 {
    width: 18% !important;
}
.celda19 {
    width: 19% !important;
}
.celda20 {
    width: 20% !important;
}

.celda21 {
    width: 21% !important;
}

.celda22 {
    width: 22% !important;
}

.celda23 {
    width: 23% !important;
}

.celda24 {
    width: 24% !important;
}

.celda25 {
    width: 25% !important;
}

.celda26 {
    width: 26% !important;
}

.celda27 {
    width: 27% !important;
}

.celda28 {
    width: 28% !important;
}

.celda29 {
    width: 29% !important;
}

.celda30 {
    width: 30% !important;
}

.celda31 {
    width: 31% !important;
}

.celda32 {
    width: 32% !important;
}

.celda33 {
    width: 33% !important;
}

.celda34 {
    width: 34% !important;
}

.celda35 {
    width: 35% !important;
}

.celda36 {
    width: 36% !important;
}

.celda37 {
    width: 37% !important;
}

.celda38 {
    width: 38% !important;
}

.celda39 {
    width: 39% !important;
}

.celda40 {
    width: 40% !important;
}
.celda41 {
    width: 41% !important;
}

.celda42 {
    width: 42% !important;
}

.celda43 {
    width: 43% !important;
}

.celda44 {
    width: 44% !important;
}

.celda45 {
    width: 45% !important;
}

.celda46 {
    width: 46% !important;
}

.celda47 {
    width: 47% !important;
}

.celda48 {
    width: 48% !important;
}

.celda49 {
    width: 49% !important;
}
.celda50 {
    width: 50% !important;
}
.celda51 {
    width: 51% !important;
}

.celda52 {
    width: 52% !important;
}

.celda53 {
    width: 53% !important;
}

.celda54 {
    width: 54% !important;
}

.celda55 {
    width: 55% !important;
}

.celda56 {
    width: 56% !important;
}

.celda57 {
    width: 57% !important;
}

.celda58 {
    width: 58% !important;
}

.celda59 {
    width: 59% !important;
}
.celda60 {
    width: 60% !important;
}

.celda61 {
    width: 61% !important;
}

.celda62 {
    width: 62% !important;
}

.celda63 {
    width: 63% !important;
}

.celda64 {
    width: 64% !important;
}

.celda65 {
    width: 65% !important;
}

.celda66 {
    width: 66% !important;
}

.celda67 {
    width: 67% !important;
}

.celda68 {
    width: 68% !important;
}

.celda69 {
    width: 69% !important;
}
.celda70 {
    width: 70% !important;
}
.celda71 {
    width: 71% !important;
}

.celda72 {
    width: 72% !important;
}

.celda73 {
    width: 73% !important;
}

.celda74 {
    width: 74% !important;
}

.celda75 {
    width: 75% !important;
}

.celda76 {
    width: 76% !important;
}

.celda77 {
    width: 77% !important;
}

.celda78 {
    width: 78% !important;
}

.celda79 {
    width: 79% !important;
}
.celda80 {
    width: 80% !important;
}
.celda81 {
    width: 81% !important;
}

.celda82 {
    width: 82% !important;
}

.celda83 {
    width: 83% !important;
}

.celda84 {
    width: 84% !important;
}

.celda85 {
    width: 85% !important;
}

.celda86 {
    width: 86% !important;
}

.celda87 {
    width: 87% !important;
}

.celda88 {
    width: 88% !important;
}

.celda89 {
    width: 89% !important;
}
.celda90 {
    width: 90% !important;
}
.celda91 {
    width: 91% !important;
}

.celda92 {
    width: 92% !important;
}

.celda93 {
    width: 93% !important;
}

.celda94 {
    width: 94% !important;
}

.celda95 {
    width: 95% !important;
}

.celda96 {
    width: 96% !important;
}

.celda97 {
    width: 97% !important;
}

.celda98 {
    width: 98% !important;
}

.celda99 {
    width: 99% !important;
}
.celda100 {
    width: 100% !important;
}

.bannerLogin {
    background-image: url('../img/BarraBanner.png') !important;
}
.fondoAzulDegrade {
    background-image: linear-gradient(to right, #44658e 0%, #106573 51%, #34c2be 100%) !important;
}
.BarraPieDamero {
    background-image: url(../img/BarraPieLogin.png);
    background-repeat:no-repeat;
}
.BarraPieDameroForms {
    background-image: url(../img/BarraPie.png) !important;
    background-repeat: no-repeat;
}

.White_Space {
   
    white-space: nowrap;
}